doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Flights

    body
        div#react-view !{componentHTML}

        script(type='text/javascript').
          window.__INITIAL_STATE__ = !{initialState};

        script(type="text/javascript", src="/built/bundle.js")
